html,body,h1,h2,h3,h4,h5,h6 {font-family: "Helvetica", sans-serif}

img.left {
    float: left;
}

img.right {
    float: right;
}
.clearfix {
    overflow: auto;
}

img.resize{
    max-width:50%;
    max-height:50%;
}
